@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 871px) {
  #btn {
    display: none !important;
  }
}

.contiener {
  margin: 0 auto;
  max-width: 90%;
  padding: 20px 40px;
}
.hh {
  background-image: url("/../animation/src/assets/lula.png");
  background-position: center;
  background-size: cover;
}

@keyframes drop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-drop {
  animation: drop 0.5s ease-in-out forwards;
}
.bg1{
  background-image: url("https://optim.tildacdn.one/tild6366-6535-4131-b939-666532346536/-/format/webp/photo_2025-01-23_16-.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg2{
  background-image: url("https://daryo.uz/cache/2020/07/ralp-728x455.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* Animatsiya uchun keyframes */
@keyframes pulse-rotate {
  0% {
    transform:  rotate(0deg);
  }
  50% {
    transform:  rotate(25deg);
  }
  100% {
    transform:  rotate(0deg);
  }
}

/* Animatsiya sinfi */
.animate-pulse-rotate {
  animation: pulse-rotate 1s ease infinite;
}
